
.chart-wrapper{
    padding: 30px 0;
    height: 300px;
}
canvas{
    height: 250px !important;
}
 .row mat-card-title{
   font-size: 16px;
   font-weight: 700;
    color: grey;
}

label{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 700;
    display: inline;
    color: #656263;

}
p{
    padding-left: 15px;
    font-size: 14px;
    display: inline;
    color: grey;
}
mat-cell, mat-header-cell{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 30% !important;
    width: 30% ;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    border-bottom:1px solid #ececec;
   }
mat-cell:first-of-type, mat-header-cell:first-of-type{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 38% !important;
    width: 38%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    border-bottom: 1px solid #ececec;
  }
  mat-cell:nth-child(3), mat-header-cell:nth-child(3){
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 38% !important;
    width: 38%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    border-bottom: 1px solid #ececec;
  }





  #NodeInfo{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #NodeInfo td, #NodeInfo th {
    border: 1px solid #ddd;
     padding-left: 8px; 
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    border-bottom: 1px solid #ececec;
  }
  
  #NodeInfo tr:nth-child(even){background-color: #f2f2f2;}
  
  #NodeInfo tr:hover {background-color: #ddd;}
  
  #NodeInfo th {
    /* padding-top: 12px;
    padding-bottom: 12px; */
    text-align: left;
    background-color: #636363;
    color: white;
  }
 