<div class="search-div" fxLayout="row">
    <mat-list-item class="header-tag" routerLink="/" > Home </mat-list-item>/
   
    <mat-list-item class="header-tag active" routerLink="#">  NodeTicket </mat-list-item>

</div>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
           NodeDetails
        </mat-card-title>
    </mat-card-header>
 <mat-divider></mat-divider>
 <br>
 <br>

 <label>Node Id: </label><p>{{nodeId}}</p>
 <hr>
 <label>Account Name: </label><p>{{acccountName}}</p>
 <hr>
 <label>Account Number: </label><p>{{acccountNumber}}</p>
<hr>
 <label>Node Availability:</label> <p>{{nodeAvailability|number:'2.0-2'}}</p> 
 <hr>
 <label>Sum TTR:</label> <p>{{sumTTR|number:'.0-2'}}</p> 
 <hr>
 <label>Count Ticket:</label> <p>{{countTicket}}</p> 
 <hr>
 <label>MTTR:</label> <p>{{MTTR|number:'.0-2'}}</p> <br>
 <br>
</mat-card>
<mat-divider></mat-divider>


<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
           NodeTicket
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

 <div class="search-div">

    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()"> 
       <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button> 
    </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
<mat-table [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="subject">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b>Subject</b> </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="subject"> {{element.subject}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> Category</b> </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="category"> {{element.category}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="subCategory">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b>Sub Category</b> </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="subCategory"> {{element.subCategory}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="psdTicketNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> PSD Ticket Number</b> </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="psdTicketNumber"> {{element.psdTicketNumber}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="orderId">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> Order Id</b> </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="orderId"> {{element.orderId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="item">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> Item</b> </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="item"> {{element.item}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="resolveDateTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> Resolve Date Time</b> </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="resolveDateTime"> {{element.resolveDateTime}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="completeDateTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> Complete Date Time</b> </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="completeDateTime"> {{element.completeDateTime}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="psdRootCause">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> PSD Root Cause</b> </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="psdRootCause"> {{element.psdRootCause}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="psdRemedyAction">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> PSD Remedy Action</b> </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="psdRemedyAction"> {{element.psdRemedyAction}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="request_Status">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> Request Status</b> </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="request_Status"> {{element.request_Status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nodeID">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> Node ID</b> </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="nodeID"> {{element.nodeID}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ttr">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> TTR With Minuts</b> </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="ttr"> {{element.ttr|number:'.0-0'}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
            <div class="spinner">
                <mat-spinner></mat-spinner>
               </div>
        </mat-footer-cell>

    </ng-container>
  
   
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':(dataSource.data.length!=0)}"></mat-footer-row>
    
</mat-table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" [pageSize]="5"   showFirstLastButtons></mat-paginator>


</mat-card>
<mat-divider></mat-divider>
<div class="row mx-0 pt-4 ">
    <div class="col-sm-12 col-md-6 mat-elevation-z8">
  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            Sum TTR For Ticket Per Node
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
  



    <mat-divider></mat-divider>
<div class="chart-wrapper">
    <canvas baseChart 
    [datasets]="barChartData"
    [colors]="colors"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>
</mat-card>  

</div>

<div class="col-sm-12 col-md-6 mat-elevation-z8">
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            Node Availability Per Month
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
  



    <mat-divider></mat-divider>
<div class="chart-wrapper">
    <canvas baseChart 
    [datasets]="barChartDataAvailability"
    [colors]="colors"
    [labels]="barChartLabelsAvailability"
    [options]="barChartOptionsAvailability"
    [plugins]="barChartPluginsAvailability"
    [legend]="barChartLegendAvailability"
    [chartType]="barChartTypeAvailability">
  </canvas>
</div>
</mat-card>  
</div>
</div>