


  /* test*/
  a{
    text-decoration: none;
    color: white;
  }
  a:hover,a:active{
    color: lightgray;
  }
  .nav-caption{
    display: inline-block;
    padding-left: 6px;
   
  } 
  
  .mat-menu-panel{
  min-width: 250px !important;
  } 
  .mat-list-base .mat-list-item {
    font-family: 'Aclonica', sans-serif !important;
    font-size: 14px;
    color:#fff !important;
  }
  .mat-list-item:hover{
    cursor: pointer !important;
    background-color: rgba(0,0, 0, 0.2);
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    
  }
  .submenu .mat-list-item{
    padding-left: 10px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }
  .mat-list-base{
    padding-top: 30px;
  }
  #sidenav.menu-close .mat-list-item mat-icon:first-of-type {
    margin-right: 20px !important;
   
  }
  .mat-list-item:hover{
    cursor: pointer;
    background-color:rgba(0,0, 0, 0.2) !important ;
  }
  .active{
    background-color:rgba(0,0, 0, 0.2) !important ;
    border-right: 5px solid rgb(219, 223, 226);
  }
  
 