
  mat-cell, mat-header-cell{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% ;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    border-bottom:1px solid #ececec;
   }
   mat-cell:first-of-type, mat-header-cell:first-of-type{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 48% !important;
    width: 48%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    border-bottom: 1px solid #ececec;
  }
 
  mat-cell:last-of-type, mat-header-cell:last-of-type{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 40% !important;
    width: 40%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    border-bottom: 1px solid #ececec;
  }