
#loading {
    position:fixed;
    z-index: 999999;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(228 227 227 / 55%);
  }
  
  #loading div
  {
    width: 300px;
    height: 300px;
    margin: 20% 0 15% 49%;
  }