
<div class="search-div" fxLayout="row">
    <mat-list-item class="header-tag" routerLink="/" > Home </mat-list-item>/
   
    <mat-list-item class="header-tag active" routerLink="#"> Availability Report for Selected Month</mat-list-item>

</div>


<mat-tab-group class="mt-3" mat-align-tabs="center">
    
    <mat-tab label="Report For Node Availability">
        <div class="tabContent">
       
        <mat-form-field appearance="fill">
            <mat-label>Node Availability</mat-label>
            <input type="month" matInput [(ngModel)]="date"  id="bdaymonth" name="bdaymonth">

          </mat-form-field>
        <!-- mat-menu-item *ngIf="date!=null"  -->
<button mat-raised-button  color="accent"  (click)="ExportTOExcelNodeAvailability()"   [disabled]="date==''" >
 <mat-icon>file_download</mat-icon>
Export Excel
</button>
</div>
</mat-tab>
    <mat-tab label="Report For Tickets in month"> 
        <div class="tabContent">

            <mat-form-field appearance="fill">
                <mat-label>Ticket in month</mat-label>
                <input type="month" matInput [(ngModel)]="dateTicket"  id="bdaymonthticket" name="bdaymonth">

              </mat-form-field>
      

        <!-- mat-menu-item *ngIf="date!=null"  -->
        <button mat-raised-button  color="accent"  (click)="ExportTOExcelTicketData()"   [disabled]="dateTicket==''" >
        <mat-icon>file_download</mat-icon>
        Export Excel 
        </button>
        </div>
     </mat-tab>
    <mat-tab label="Report For violated  in month:"> 
        <div class="tabContent">

            <mat-form-field appearance="fill">
                <mat-label>availability month</mat-label>
                <input type="month" matInput [(ngModel)]="dateAvailability"  id="availmonth" name="bdaymonth">
              </mat-form-field>
       


        <!-- mat-menu-item *ngIf="date!=null"  -->
        <button mat-raised-button  color="accent" (click)="ExportTOExcelAvailabilityDataForSelectedMonth('violated')"   [disabled]="dateAvailability==''" >
        <mat-icon>file_download</mat-icon>
       Export Excel
        </button>
        </div>
    </mat-tab>

    <mat-tab label="Report For Warnning  in month:"> 
        <div class="tabContent">

            <mat-form-field appearance="fill">
                <mat-label>availability month</mat-label>
                <input type="month" matInput [(ngModel)]="dateAvailability"  id="availmonth" name="bdaymonth">
              </mat-form-field>
       


        <!-- mat-menu-item *ngIf="date!=null"  -->
        <button mat-raised-button  color="accent" (click)="ExportTOExcelAvailabilityDataForSelectedMonth('warnning')"   [disabled]="dateAvailability==''" >
        <mat-icon>file_download</mat-icon>
       Export Excel
        </button>
        </div>
    </mat-tab>
    <mat-tab label="Report For Safe  in month:"> 
        <div class="tabContent">

            <mat-form-field appearance="fill">
                <mat-label>availability month</mat-label>
                <input type="month" matInput [(ngModel)]="dateAvailability"  id="availmonth" name="bdaymonth">
              </mat-form-field>
       


        <!-- mat-menu-item *ngIf="date!=null"  -->
        <button mat-raised-button  color="accent" (click)="ExportTOExcelAvailabilityDataForSelectedMonth('safe')"   [disabled]="dateAvailability==''" >
        <mat-icon>file_download</mat-icon>
       Export Excel
        </button>
        </div>
    </mat-tab>


    <mat-tab label="Report For special data in month:"> 
        <div class="tabContent">

           
            <select id="select" [(ngModel)]="dropdownsearch"  >
               
                <option  value="nodeid">Node Id</option>
                <option value="customername">Account Name</option>
                <option value="customernumber">Account Number</option>
                <option value="orderid">Order Id</option>
                </select>

                <input  name="Search" [(ngModel)]="searchvalue" placeholder="Search " >
        
              
            <mat-form-field appearance="fill">
                <mat-label>availability month</mat-label>
                <input type="month" matInput [(ngModel)]="dateAvailability"  id="availmonth" name="bdaymonth">
              </mat-form-field>
             
                
            

               
           
         <!-- (keyup.enter)="NodeTicket($event)" type="search" id="site-search"-->
        <!-- mat-menu-item *ngIf="date!=null"  -->
        <button mat-raised-button  color="accent" (click)="ExportTOExcelAvailabilitySpecialDataForSelectedMonth()"   [disabled]="dateAvailability==''||searchvalue==''" >
        <mat-icon>file_download</mat-icon>
       Export Excel
        </button>
        </div>
    </mat-tab>
  </mat-tab-group>





<!-- 
        <label for="bdaymonth">Report For Node Availability:</label>
        <input type="month"  [(ngModel)]="date"  id="bdaymonth" name="bdaymonth"> -->
       
           <!-- mat-menu-item *ngIf="date!=null"  -->
<!-- <button  (click)="ExportTOExcelNodeAvailability()"   [disabled]="date==''" >
    <mat-icon>file_download</mat-icon>
    <span>Export Excel  </span>
</button>
<br>

<label for="bdaymonth">Report For Tickets in month:</label>
<input type="month"  [(ngModel)]="dateTicket"  id="bdaymonthticket" name="bdaymonth">
 -->

<!-- mat-menu-item *ngIf="date!=null"  -->
<!-- <button  (click)="ExportTOExcelTicketData()"   [disabled]="dateTicket==''" >
<mat-icon>file_download</mat-icon>
<span>Export Excel </span>
</button>
<br> -->

<!-- <label for="bdaymonth">Report For Availability in month:</label>
<input type="month"  [(ngModel)]="dateAvailability"  id="availmonth" name="bdaymonth">
 -->

<!-- mat-menu-item *ngIf="date!=null"  -->
<!-- <button  (click)="ExportTOExcelAvailabilityDataForSelectedMonth()"   [disabled]="dateAvailability==''" >
<mat-icon>file_download</mat-icon>
<span>Export Excel </span>
</button> -->
 


<app-loader *ngIf="loading">
</app-loader> 

  
 
